*.md

.docker_backup/

vendor/*
logs/

[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

LICENSE

tags

coverage.txt
coverages/*.txt

# coverage
coverages/*.txt
coverages/*.html
coverage.txt
coverage-all.out
coverage-all.txt
coverage.out
profile.out
profile.txt

.DS_Store

.idea/
.vscode/

.netrwhist
*~

go-codebase-osx
go-codebase-linux